#!/usr/bin/make -f

configure:
	dh_testdir

build: build-stamp
	/usr/bin/qmake
	make

build-stamp: configure
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -D -m 755 $(CURDIR)/build/radiotuner $(CURDIR)/debian/radiotuner/usr/bin/radiotuner
	install -D -m 644 $(CURDIR)/radiotuner.desktop $(CURDIR)/debian/radiotuner/usr/share/applications/hildon/radiotuner.desktop
	install -D -m 644 $(CURDIR)/icons/radiotuner.png $(CURDIR)/debian/radiotuner/usr/share/pixmaps/radiotuner.png

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
